{% extends "MISAMprojectBundle::layout.html.twig"%}

{% block content %}
	<center><h3>Ajouter un développeur</h3></center>
		{{ include("MISAMprojectBundle:Developer:form.html.twig") }}
	<div>

        {{ form_widget(form.Ajouter, {'attr': {'class': 'btn-blue'}}) }}

        <a href="{{ path('misa_project_homepage') }}"><span class="btn-orange">Annuler</span></a>

      </div>

	</div>
	 

{{ form_rest(form) }}
{{ form_end(form) }}




</div>


	
{% endblock %}