{% extends "MISAMprojectBundle::layout.html.twig"%}

{% block content %}
	{{ include("MISAMprojectBundle:Developer:form.html.twig") }}

	<div>

        {{ form_widget(form.Modifier, {'attr': {'class': 'btn-blue'}}) }}

        <a href="{{ path('misa_project_homepage') }}"><span class="btn-orange">Annuler</span></a>

      </div>

	</div>
	 
{{ form_rest(form) }}
{{ form_end(form) }}

</div>
	
{% endblock %}