{% extends "MISAMprojectBundle::layout.html.twig"%}

{% block content %}
	{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-success">
            {{ flash }}
        </div>
    {% endfor %}
	{% endfor %}
	<div>
		<h3>Développeur</h3>
		<p><b>Nom:</b> {{ developer.nom }}</p>
		<p><b>Compétences:</b> {{ developer.competence }}</p>
		<p><b>Date d'entrée dans l'entreprise :</b> {{ developer.dateEntree|date('d/m/Y') }}</p>
		<p><b>Projets :</b> 
			<ul>
				{% for assignation in developer.assignations %}
				<li><a href="{{ path('misa_project_view', {'id': assignation.project.id }) }}">{{ assignation.project.nom }}</a></li>
				{% endfor %}
			</ul>	
		</p>
	</div>

	<a href="{{ path('misa_project_homepage')}}"><span class="btn-green"><b><</b> Retour à la liste</span></a>
	<a href="{{ path('misa_developer_edit', { 'id': developer.id })}}"><span class='btn-orange'> Modifier</span></a>
	<a href="{{ path('misa_developer_delete', { 'id': developer.id })}}"><span class='btn-red'>Supprimer</span></a>
{% endblock %}