{% extends "MISAMprojectBundle::layout.html.twig" %}
 {% block content %}
 
	    <h2> Assignations</h2>
		<p><i>(Vous pouvez glisser un projets non assingné à un développeur)</i></p>
		<div class="demi">
			<h4>Projets non assignés</h4>

			<table id="sort" class='table-bordered'>
				<thead>
			
				</thead>
				<tbody>
					{% for project in projects_to_assign %}
						<tr>
						
							<td  class="draggable" id="{{ project.id }}">{{ project.nom|upper }}</td>

							<td>
						<a href="{{ path('misa_project_view',{'id': project.id}) }}"><span class='btn-green'> Voir</span></a>
						
					</td>
							
						</tr>
					{% endfor %}

				<tbody>
		</table>

		</div>

		<div class="demi">
			<h4>Développeurs</h4>
			<table id="sort2" >
				<thead>
				
				</thead>
				<tbody>
				{% for developer in developers %}
						
					<tr class="droppable" id="{{ developer.id }}">
							{# <td></td> #}
							<td>{{ developer.nom|upper }}</td>
							<td>({{ developer.assignations|length }})</td>
						
						<td>
						<a href="{{ path('misa_developer_view',{'id': developer.id}) }}"><span class='btn-green'>Voir </span>
					</td>
					</tr>
					
				{% endfor %}
				</tbody>
		</table>

		</div>
  </div>


 {% endblock %}


 {% block javascripts %}
 	<script type="text/javascript">

 		var fixHelper = function(e, ui) {
				ui.children().each(function() {
					$(this).width($(this).width());
				});
				return ui;
		};
 		$(function(){
 			// $( "#tabs" ).tabs();
 			      
 			$(".draggable").draggable({
 				revert: 'invalid',
 				cursor: 'move',
 				drag: function(){
 					$(this).siblings().hide();
 					$(this).css("background-color", "#4CAF50");
 					$(this).css("border-radius", "5px");
 					$(this).css("color", "white");
 				},
 				stop: function(){
 					$(this).siblings().show();
 					$(this).css("background-color", "#fff");
 					$(this).css("color", "black");
 				}
 			});

 			$('.droppable').droppable({
 				accept: '.draggable',
 				drop: function(event, ui){
 					var current = ui.draggable;
 					var resultat = $(this);
 					// alert(current.attr('id'));
 					// alert(resultat.attr('id'));
 					 var nb =resultat.children("td:eq(1)");
 					 // alert(parseInt(nb.text())+1);
 					 // var new_nb = parseInt(nb.text())+1;
 					$.post("{{ path('misa_mproject_assign') }}",
				    {
				        project_id: current.attr('id'),
				        developer_id: resultat.attr('id')
				    },
				    function(data, status){
				        // alert("Data: " + data + "\nStatus: " + status);
				        nb.text(data);
				    });
				    current.siblings().remove();
 					 current.fadeOut();
 				}
 			});
			// $("#sortable").sortable().disableSelection();
 			// $("#sort tbody").sortable({
 			// 		connectWith: ".connectedSortable"
 			// }).disableSelection();
    			  // $( "#sortable" ).disableSelection();
 			

 		});

 	</script>
 {% endblock %}