<div class="well">

	{{ form_start(form) }}

	{{ form_errors(form) }}

	<div class="form-group">
		{{ form_label(form.nom, "Nom :") }}
      {{ form_errors(form.nom) }}
        {{ form_widget(form.nom) }}
	</div>

  <div class="form-group">
    {{ form_label(form.client, "Nom du client :") }}
      {{ form_errors(form.client) }}
        {{ form_widget(form.client) }}
  </div>

	<div class="form-group">
		{{ form_label(form.dateLivraison, "Date de livraison :") }}
      {{ form_errors(form.dateLivraison) }}
        {{ form_widget(form.dateLivraison, {'attr': {'class': 'date'}}) }}
	</div>

	<div class="form-group">
    {{ form_label(form.type, "Type :") }}
      {{ form_errors(form.type) }}
        {{ form_widget(form.type) }}
  </div>

  <div class="form-group">
    {{ form_label(form.langages, "Langages utilisés :") }}
      {{ form_errors(form.langages) }}
        {{ form_widget(form.langages) }}
  </div>

  <div class="form-group">
    {{ form_label(form.etat, "Etat du projet :") }}
      {{ form_errors(form.etat) }}
        {{ form_widget(form.etat) }}
  </div>


	<div>
      <div class="form-group">

        {{ form_widget(form.save, {'attr': {'class': 'btn-blue'}}) }}

        <a href="{{ path('misa_project_homepage') }}"><span class="btn-orange">Annuler</span></a>

      </div>

  </div>

      