{% extends "MISAMprojectBundle::layout.html.twig"%}

{% block content %}
	{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-success">
            {{ flash }}
        </div>
    {% endfor %}
	{% endfor %}
	<div>
		<p>Nom du projet : {{ project.nom }}</p>
		<p>Date de livraison : {{ project.dateLivraison|date('d/m/Y') }}</p>
		<p>Type: {{ project.type }}</p>
		<p>Langages utilisés: {{ project.langages }}</p>
		<p>Etat du projet : {{ project.etat }}</p>
	</div>

	<a href="{{ path('misa_mproject')}}"><span class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"> </span> Retour à la liste</span></a>
	<a href="{{ path('misa_project_edit', { 'id': project.id })}}"><span class='btn btn-warning'><span class="glyphicon glyphicon-pencil"></span> Modifier</span></a>
	<a href="{{ path('misa_project_delete', { 'id': project.id })}}"><span class='btn btn-danger'><span class="glyphicon glyphicon-remove"> </span> Supprimer</span></a>
{% endblock %}