{% extends "MISAMprojectBundle::layout.html.twig"%}

{% block content %}
	{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-success">
            {{ flash }}
        </div>
    {% endfor %}
	{% endfor %}
	<div>
		<p>Nom: {{ client.nom }}</p>
	</div>

	<a href="{{ path('misa_mproject')}}"><span class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"> </span> Retour à la liste</span></a>
	<a href="{{ path('misa_client_edit', { 'id': client.id })}}"><span class='btn btn-warning'><span class="glyphicon glyphicon-pencil"></span> Modifier</span></a>
	<a href="{{ path('misa_client_delete', { 'id': client.id })}}"><span class='btn btn-danger'><span class="glyphicon glyphicon-remove"> </span> Supprimer</span></a>
{% endblock %}